name: CI
on: [push, pull_request]

# Run linter with github actions for quick feedbacks.
# The unittests will be run on CircleCI instead.
jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]  # importlib-metadata v5 requires 3.8+
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8==6.0.0 flake8-bugbear flake8-comprehensions isort==5.12.0
          pip install black==23.3.0
          flake8 --version
      - name: Lint
        run: |
          echo "Running isort"
          isort -c -sp .
          echo "Running black"
          black --check .
          echo "Running flake8"
          flake8 .
